header {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    margin: 10px;
    padding-top: 5px;
    text-align: center;
}

#wrapper {
    text-align: center;
    width: 500px;
}
p {
    margin: 30px;
}

body {
    background-color: #F5F5DC;
}
#mappic {
    float: right;
    margin-left: 10px;
}
#mingpic {
    float: left;
    margin-right: 10px;
}
#yonglepic {
    float: right;
    margin-left: 10px;
}
#zhengpic {
    float: left;
    margin-right: 10px;
}
li {
    display: inline-block;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
ul {
    text-align: center;
   padding-left: 0px;
}
nav#main-nav a {
   text-decoration: none;
   font-weight: bold;
   color: black;
   
}
nav#main-nav a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 2px;

}
a {
    color: #f20d9c;
}
a:hover {
    color: grey;
}
nav#main-nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-title {
    font-size: 40px;
}
.subtitle {
    font-size: 20px;
}
span {
    display: block;
}
article {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

footer {
    text-align: center;
}