header {
    font-family: courier;
    margin: 10px;
    border: 2px solid grey;
    text-align: center;
    text-shadow: 2px 2px #000000;
    background-color: #D3DEEB;
  
}

body {
    

    
}
li {
    display: inline-block;
    margin: 10px;
    font-family: courier;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 17px;
}
ul {
    background-color: #D3DEEB;
}
nav#main-nav a {
   text-decoration: none;
   font-weight: bold;
   
}
a {
    color: #ff8080;
}
a:hover {
    color: #80d4ff;
}
nav#main-nav {
    border: 2px solid grey;
    margin: 10px;
    background-color: #D3DEEB;
}
.code {
    color: #ff8080;
    size: 60px;
    display: block;
}
.name {
    color: #80d4ff;
    size: 40px;
}

article {
    border: 2px solid grey;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    font-family: courier;
    background-color: #D3DEEB;
}
#img {
    background-image: url("../images/webdevelopment.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 572px;
    height: 420px;
    position: absolute;
}
h2 {
    color: #80d4ff;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

footer {
    text-align: center;
}